@model IEnumerable<ElectionApp.Models.Party>

<h1>Registered Parties and Their Symbols</h1>

<table class="table">
    <thead>
        <tr>
            <th>Party Name</th>
            <th>Party Symbol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var party in Model)
        {
            <tr>
                <td>@party.Name</td>
                <td>@party.Symbol</td>
            </tr>
        }
    </tbody>
</table>
